<div class="posts" ng-repeat="post in posts track by $index">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 postWrap">
	<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 postOrder">
		{{$index+1}}
	</div>
	<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
		<div class="pointer"><i class=""></i>{{post.postpoint}}</div>
	</div>
	<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 post">
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
			<img width="100%" src="{{post.img}}" alt="">
		</div>
		<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
			<p class="title"><a ui-sref="post({ postId: post.id })">{{ post.subject }}</a></h5>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 info">
						{{ post.content}}
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 info">
						1622 yorum paylaş kaydet gizle gammazla
					</div>
				</div>
				
		</div>
	</div>
</div>
</div>
<div class="pagination">
<a ng-hide="getPage" ng-click="page(getPage-1)"  title="">prev</a>
<a ng-click="page(parseInt(getPage)+1)" title="">next</a>
</div>
